<header>
  <a routerLink="/contacts"><i class="material-icons">keyboard_backspace</i></a>
</header>
<form [formGroup]="contactForm" (ngSubmit)="createContact(contactForm.value)" class="form">
  <div class="form-group">
    <label for="" class="bmd-label-static">Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label for="" class="bmd-label-static">Phone</label>
    <input type="tel" class="form-control" formControlName="phone">
  </div>
  <div class="form-group">
    <label for="" class="bmd-label-static">E-mail</label>
    <input type="email" class="form-control" formControlName="email">
  </div>
  <div class="form-group">
    <label for="" class="bmd-label-static">Whatsapp</label>
    <input type="tel" class="form-control" formControlName="whatsapp">
  </div>
  <button type="submit" [disabled]="!contactForm.valid" class="btn btn-raised btn-primary">Save</button>
</form>